/* General styles */

/* HEADER */
header{
    height: 8vh;
}

main{
    height: 87vh;
    background-color: #7fffd4;
}
footer{
    height: 5vh;
}

#logo img{
    max-width: 100%;
    height: 50px;
}

/* MAIN */
#container{
    height: 600px;
    width: 600px;
}

.square{
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: transparent;
}

.grid10x10{
    width: calc(100% / 10);
    height:calc(100% / 10);
}
.grid9x9{
    width: calc(100% / 9);
    height:calc(100% / 9);
}
.grid7x7{
    width: calc(100% / 7);
    height:calc(100% / 7);
}
#container .start{
    background-color: #7fffd4;
}

.good{
    background-color: #007bff;
}
.bomb{
    background-color: red;
}




/* DEBUG */




